node_modules
.eslintcache
.updatable-packages
**/dist/es
**/dist/types
**/dist/locales
coverage
*.tgz
**/.tmp
.env.dev
vitest.config.ts.timestamp*

.env
.env.local
.env.local.*
.local-data
.local-data-docker

.DS_Store
